Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m, n):
  """
  prints a rectangle out of asterisks with m x n dimensions

  args:
    m: the width of the rectangle
    n: the height of the rectangle

  returns:
    none
  """

  rect = ""
  rect += "*" * m + "\n"
  for i in range(n - 2):
    rect += "*" + " " * (m - 2) + "*" + "\n"
  rect += "*" * m + "\n"
  print(rect)

rectangle(5, 6)

*****
*   *
*   *
*   *
*   *
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [2]:
import random
def randOfDigits(n):
  """
  provides a random number of n digits

  args:
    n: the number of digits the returned random number should be

  returns:
    a random number of n digits
  """

  min = pow(10, n - 1)
  max = pow(10, n) - 1

  return random.randint(min, max)
print(randOfDigits(3))

362

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [3]:
def number_of_factors(n):
  """
  takes a number and returns how many factors it has

  args:
    n: the number to find the factors of

  returns:
    the amount of factors n has
  """
  i = 1
  factors = 0
  while i <= n:
    if (n % i == 0):
      factors += 1
    i += 1
  return factors

print(number_of_factors(6))

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [13]:
def first_diff(str1, str2):
  #comment by myo: one extra index
  """
  finds the index of the first differing character between 2 given strings

  args:
    str1: the first string to compare
    str2: the second string to compare

  returns:
    the index of the first differing character. -1 if there are no differing characters.
  """

  for i, c in enumerate(str1):
    if i >= len(str2):
      return i + 1
    elif str2[i] != c:
      return i, c

  return -1
print(first_diff("test21", "test2"))

6

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [14]:
def root(x, n=2):
  """
  divides x by n

  args:
    x: the numerator of the division
    n: the denominator of the division, default of 2

  returns:
    the quotient of the division
  """
  return x/n
print(root(4))

2.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 4 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [6]:
def solve_system(a, b, c, d, e, f):
  #AI is not reliable here. 
  """
  solves the system ax + by = e and cx + dy = f given the arguments

  args:
    a: number for 'a' in the system
    b: number for 'b' in the system
    c: number for 'c' in the system
    d: number for 'd' in the system
    e: number for 'e' in the system
    f: number for 'f' in the system
  """
  determinant = a * d - b * c
  if determinant == 0:
      raise ValueError("no unique solution.")
  x = (e * d - b * f) / determinant
  y = (a * f - e * c) / determinant

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [7]:
def change_case(s):
  """
  swaps the case of a given string

  args:
    s: the string to swap the case of

  returns:
    the given string but with all of the cases swapped
  """
  return s.swapcase()
print(change_case("tEsT"))

TeSt

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [8]:
def number_of_factors(n):
  """
  takes a number and returns how many factors it has

  args:
    n: the number to find the factors of

  returns:
    the amount of factors n has
  """
  i = 1
  factors = 0
  while i <= n:
    if (n % i == 0):
      factors += 1
    i += 1
  return factors

def primes(n=100):
  """
  returns a list of the first n prime numbers

  args:
    n: the amount of prime numbers to find

  returns:
    a list with the first n prime numbers
  """

  primeList = []
  i = 1
  while len(primeList) < n:
    if number_of_factors(i) == 2:
      primeList.append(i)
    i += 1
  return primeList

print(primes())

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

Ex9: ATic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [9]:
import random

def place_O(board):
  """
  takes a given tic tac toe board and places an O in a random empty space

  args:
    board: the tic tac toe board represented by a list where  each index is a row represented by a list of 3 numbers

  returns:
    the board with an O placed in a random empty space or a value error if there are no empty slots
  """
  empty_spots = [(i, j) for i in range(3) for j in range(3) if board[i][j] == 0]

  if not empty_spots:
      raise ValueError("no empty slots")

  chosen_spot = random.choice(empty_spots)
  board[chosen_spot[0]][chosen_spot[1]] = 2

  return board

tic_tac_toe_board = [
    [1, 2, 0],
    [0, 1, 0],
    [2, 0, 0]
]
new_board = place_O(tic_tac_toe_board)
print(new_board)

[[1, 2, 2], [0, 1, 0], [2, 0, 0]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [10]:
def is_group_valid(group):
  """
  takes a sudoku group and returns if there are any duplicates or not

  args:
    group: the sudoku group represented by a list of numbers

  returns:
    whether or not the group is valid
  """
  return len(group) == len(set(group))

def is_solved(board):
  """
  takes a given sudoku board and returns if it is solved or not

  args:
    board: the sudoku board represented by a list where each index is a row which a list of 9 numbers

  returns:
    whether or not the board is solved or not
  """
  for i in range(9):
      if not is_group_valid(board[i]):
          return False
      col = []
      for j in range(9):
        col.append(board[j][i])
      if not is_group_valid(col):
            return False

  for block_row in range(3):
     for block_col in range(3):
        block = []
        for i in range(3):
          for j in range(3):
            row = block_row * 3 + i
            col = block_col * 3 + j
            block.append(board[row][col])
            if not is_group_valid(block):
                return False

  return True

sudoku_board = [
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]

print(is_solved(sudoku_board))

True