<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

*Ex* 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m, n):
    """Prints an m × n rectangle of asterisks."""
    for _ in range(m):
        print('*' * n)

rectangle(2, 4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [2]:
import random

def random_n_digit_number(n):
    """Returns a random integer with exactly n digits."""
    if n <= 0:
        raise ValueError("Number of digits must be positive.")

    lower_bound = 10**(n - 1)
    upper_bound = 10**n - 1

    return random.randint(lower_bound, upper_bound)
print (random_n_digit_number(3))

398

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors(n):
    #syntax error
    """Returns the number of factors of the integer n."""
    if n < = 0:
        raise ValueError ("Input must be a positive integer.")
    count = 0
    for i in range(1, int(n**0.5) + 1):
        if n % i = = 0:
            count + = 1
            if i != n // i:
                count += 1
    return count
print(number_of_factors(12))

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [5]:
def first_diff(str1, str2):
    """Returns the index of the first difference between two strings, ignoring case. Returns -1 if identical."""
    str1 = str1.lower()
    str2 = str2.lower()

    min_length = min(len(str1), len(str2))

    for i in range(min_length):
        if str1[i] != str2[i]:
            return i

    if len(str1) != len(str2):
        return min_length

    return -1

first_diff('str1', 'str1')

-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [6]:
def root(x, n=2):
    """Returns x divided by n with a default value of n=2."""
    return x / n

print(root(10))
print(root(10, 5))

5.0
2.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 4 parameters, (a, b, c, d, e,f) and return the values of x and y.

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [5]:
def change_case(s):
    """Returns a string with each uppercase letter replaced by a lowercase letter and vice-versa."""
    return ''.join([char.lower() if char.isupper() else char.upper() for char in s])

print(change_case("Raahim Waqas!"))

rAAHIM wAQAS!

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [7]:
def primes(n=100):
    """Returns a list of the first n prime numbers."""
    primelist = []
    candidate = 2

    while len(primelist) < n:
        is_prime = True
        for p in primelist:
            if p * p > candidate:
                break
            if candidate % p == 0:
                is_prime = False
                break
        if is_prime:
            primelist.append(candidate)
        candidate += 1

    return primelist

print(primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: ATic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [10]:
import random

def place_O(board):
    """Places an 'O' (2) in a randomly chosen empty spot on the board."""
    empty_spots = [(i, j) for i in range(3) for j in range(3) if board[i][j] == 0]

    if not empty_spots:
        print("No empty spots available.")
        return board
    chosen_spot = random.choice(empty_spots)
    board[chosen_spot[0]][chosen_spot[1]] = 2

    return board
tic_tac_toe_board = []
      [1, 0, 2],
      [0, 1, 0],
      [2, 0, 0]
updated_board = place_O(tic_tac_toe_board)
for row in updated_board:
    print(row)

IndentationError: unexpected indent (<ipython-input-10-3651ea02c713>, line 15)

**Ex10**:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [ ]:
def is_valid_sudoku(board):
    """Check if a 9x9 Sudoku board is solved correctly."""

    # Check rows and columns
    for i in range(9):
        row = set()
        column = set()
        for j in range(9):
            # Check row
            if board[i][j] != 0:
                if board[i][j] in row:
                    return False
                row.add(board[i][j])

            # Check column
            if board[j][i] != 0:
                if board[j][i] in column:
                    return False
                column.add(board[j][i])

    # Check 3x3 blocks
    for block_row in range(3):
        for block_col in range(3):
            block = set()
            for i in range(3):
                for j in range(3):
                    num = board[block_row * 3 + i][block_col * 3 + j]
                    if num != 0:
                        if num in block:
                            return False
                        block.add(num)

    return True