Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [8]:
def rectangel(m,n):
  for i in range(m):
    for j in range(n):
      print("*",end="")
    print()
rectangel(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [9]:
import random
def random_integer(n):
  return random.randint(10**(n-1),10**n-1)
random_integer(3)

624

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [14]:
def number_of_factors(n):
  count=0
  for i in range(1,n+1):
    if n%i==0:
      count+=1
  return count
number_of_factors(15)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [1]:
def first_diff(s1,s2):
  s1=s1.lower()
  s2=s2.lower()
  for i in range(min(len(s1),len(s2))):
    if s1[i]!=s2[i]:
      return i
  return -1
first_diff("hello","Hola")

1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [2]:
def root(x,n=2):
  return x**1/n
root(16)

#is that what question asked you to do?

8.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [2]:
def solution(a,b,c,d,e,f):
  x=(e*d-b*f)/(a*d-b*c)
  y=(a*f-e*c)/(a*d-b*c)
  return x,y
solution(1,2,3,4,4,5)

(-3.0, 3.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [9]:
scrpt1 = input("please input a sentance")
def change_case(scrpt1):
  for i in range(len(scrpt1)):
    if (scrpt1[i].isupper):
      print(scrpt1[i].islower(),end="")
    else:
      print(scrpt1[i].isupper(),end="")
change_case(scrpt1)

please input a sentanceHello
FalseTrueTrueTrueTrue

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”